# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
.venv/
venv/
ENV/

# Archivos de configuración y entorno
.env
.env.*

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/

# Otros
*.sqlite3
*.db

# Node
node_modules/

# Ignorar archivos de frontend build (si aplica)
dist/
build/
